body { 
    font-family:"Lato",sans-serif;
}

.sidenavmenu a
{
    padding: 8px 8px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color:#fff;
    display:block;
    transition:0.3s
}

.sidenavmenu
{
    height:100%;
    width:0;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#9ec4cb;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;
}

    .sidenavmenu a:hover, .offcanvas a:focus
    {   
        color:#f1f1f1;
    }

    .sidenavmenu .closebtn
    {
        position:absolute;
        top:0;
        right:25px;
        font-size:36px;
        margin-left:50px;
    }

@media screen and (max-height:450px)
{
    .sidenavmenu
    {
        padding-top:15px;
    }
    .sidenavmenu a
    {
        font-size:18px;
    }

}

.fondo2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed
}

.popup6 {
    width: 720px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: gray;
    padding: 5px 1px 10px 10px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute
}
